
@model MaciejLendzionLab4ZadDom.Models.RateViewModel

@using (Html.BeginForm("CreateRate", "Home", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(model => model.Name, "Imie", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-3">
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Opinion, "Opinia", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Opinion, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>

    <div class="white-space"></div>
    <div class="white-space-small">
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" volume="Wyślij opinię" class="btn btn-success" />
                </div">
            </div>
        </div>

    }
